@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'Acumin Pro SemiCondensed';
  src: url('Acumin_Pro_SemiCond_Book.eot'); /* IE9 Compat Modes */
  src: url('Acumin_Pro_SemiCond_Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Acumin_Pro_SemiCond_Book.woff') format('woff'), /* Modern Browsers */
       url('Acumin_Pro_SemiCond_Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Acumin_Pro_SemiCond_Book.svg#2f76f89a72707f5afd0003acd627242a') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
