/****************************
Variables (colors etc.)
****************************/

/* Colors */
$accent1: #152b52;
$accent2: #AE8231;
$text: #1b1b1b;


/* Fonts */
$body: "Acumin Pro SemiCondensed","PT Sans Narrow",sans-serif;
$header: 'Adobe Garamond Pro';
$menu: "Montserrat", sans-serif;