/****************************
Variables (colors etc.)
****************************/

/* Colors */
$accent1: #152b52;
$accent2: #AE8231;

$text: #1b1b1b;
$light_text: #5c5f63;

/* Fonts */
$body: "Crimson Text", serif;
$header: 'EB Garamond', serif;

/* Device sizes */
$device_width__phone: 568px;
$device_width__tablet: 1280px;