/****************************
Variables (colors etc.)
****************************/

/* Colors */
$accent1: #371917;
$accent2: #d29816;

$text: #1b1b1b;
$light_text: #5c5f63;

/* Fonts */
$font_title: 'EB Garamond', serif;
$font_text: 'Crimson Text', serif;

/* Device sizes */
$device_width__phone: 568px;
$device_width__tablet: 1280px;

/* Grid sizing */
$grid_large: 800px;
$grid_medium: 480px;
$grid_small: 320px;