/*-----------------------------------------------------------------------------------*/
/*  HEADER
/*-----------------------------------------------------------------------------------*/
#header-wrapper {
	background-color:#fff;
	padding: 24px 0 26px;

	@include screen('small') {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
header {	
}

/*-----------------------------------------------------------------------------------*/
/*  SOCIAL ICONS
/*  see: aa_get_social_navigation()
/*-----------------------------------------------------------------------------------*/
ul.social-menu,
ul.social-menu li,
ul.social-menu li a {
	list-style: none;
	display: inline-block;
	margin: 0;
}

ul.social-menu {
	cursor: default;
}

ul.social-menu li a {
	width: 30px;
	text-align: center;

	font-size: 15px;
	line-height: 24px;
	vertical-align: baseline;

	color: #5c5f63;
	cursor: pointer;
}

ul.social-menu li a:hover {
	color: $accent2;
}

/* -------------------------------- 
			Breadcrumbs 
-------------------------------- */
#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
#breadcrumbs li a{
	text-decoration:none;
}
#breadcrumbs li a:hover{
	color:#fff;
}
#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}

/*-----------------------------------------------------------------------------------*/
/*  FOOTER
/*-----------------------------------------------------------------------------------*/
footer {
	padding: 50px;

	font-size: 1.4rem;
	line-height: 2.0rem;

	background-color: #f7f6f6;

	letter-spacing: 0.05rem;
}

footer .container {
	max-width: 1120px;
}

.footer-col-left {
	text-align: left;
}

.footer-col-middle {
	text-align: center;
}

.footer-col-right {
	text-align: right;
}

footer a {
	text-decoration: none;
	color: $text;
}

footer a:hover {
	text-decoration: none;
	color: $accent2;
}

.social-links a {
	font-size: 1.4rem;
}

.social-links i {
	width: 32px;
}

.footer-nav,
.footer-contact {
	font-family: "EB Garamond", serif;
}

.footer-nav ul,
.footer-nav ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

#credits {
	font-size: 1.1rem;
}

// Footer logo should be 97 wide, natural image should be at least 2x
#credits img {
	max-width: 97px;
	margin-bottom: 1rem;

	@media ( max-width: $breakpoint-small ) {
		margin-bottom: 2rem;
	}
}

/* Footer -> Responsive */
@media ( min-width: $breakpoint-med-small ) {
	footer .nav-menu .nav {
		columns: 2;
		column-gap: 20px;
	}
}

@media ( max-width: $grid_large ) {
	footer {
		padding: 20px 10px;
	}

	footer .grid.grid-3-cols .cell {
		width: 100%;
		text-align: center;
		clear: none;
	}

	.footer-col-left {
		display: none;
	}

	.footer-col-right {
		text-align: center;
		margin-top: 2rem;
	}

	.footer-contact {
		font-family: $font_text;
	}
}

@media ( max-width: $grid_small ) {
	footer {
		background: none;
	}

	footer .grid {
		display: flex;
		flex-direction: column;
	}

	footer .container {
		padding: 0;
	}

	footer .footer-col-middle {
		order: 2;
		margin: 5px 0;
	}

	footer .footer-col-right {
		order: 1;
		margin: 5px 0;
	}

	footer #credits img + br,
	footer #credits img,
	footer .footer-contact {
		display: none;
	}

	footer #credits {
		font-size: 1.4rem;

	}
}

// Pagination
ul.page-numbers {
	text-align: center;
	list-style: none;
}

ul.page-numbers li {
	display: inline-block;
	list-style: none;
}

ul.page-numbers .page-numbers {
	display: inline-block;
	padding: 5px 12px 7px;
	margin: 0 5px;

	font-size: 2.0rem;
	line-height: 1.4rem;
	font-family: "EB Garamond", serif;

	// Placeholder, overwritten by links
	color: #bcbdbd;
}

ul.page-numbers a.page-numbers {
	// Actual links and not just the placeholder
	color: $text;

	&:hover {
		color: $accent2;
	}
}