/* Add theme page styles here */

/*-----------------------------------------------------------------------------------*/
/*  GENERAL / GLOBAL
/*-----------------------------------------------------------------------------------*/

/* Text underline effect using pseudo elements */
.pm-underline {
	position: relative;
	display: inline-block;
}

.pm-underline:after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 1px;
	background: #929292;
}

/* Spacing around content areas for pages */
.entry-content {
	margin: 60px 0;
}

/*-----------------------------------------------------------------------------------*/
/*  HEADER BAR
/*-----------------------------------------------------------------------------------*/

/* Header Control Bar */
#header-bar {
	padding: 0 0 5px;
	background: #f7f6f6;
}

#header-bar .container {
	max-width: 1140px;
}
#header-bar .left {
	float: left;
	text-align: left;
}
#header-bar .right {
	float: right;
	text-align: right;
}

#header-bar .social-icons {
	position: relative;
	top: 5px;
}

/* Header Bar -> Search */
form.search-form {
	line-height: 18px;
	margin-bottom: 0;
}

form.search-form button[type=submit] {
	position: relative;
	top: 7px;
	height: 27px;
	padding: 0 7px;
	float: left;
	color: #3b3b3b;
	border: none;
	margin: 0;
	background: none;
	text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

form.search-form input[type=search] {
	height: 27px;
	padding: 7px 0 0;
	border: none;
	border-bottom: 1px solid #919191;
	color: #000000;

	font-size: 1.2rem;
	letter-spacing: 0.05rem;

	margin: 0;
	background: none;
	text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

form.search-form input[type=search]::placeholder {
	font-style: italic;
}

/* Search page */
.archive-intro.search-intro {
	margin-bottom: 40px;
}

.search-result .post-thumbnail {
	float: left;
	margin: 0 15px 10px 0;
	max-width: 200px;
}

.search-result .read-more {
	float: right;
	margin: 0;
}

.search-result .post-meta {
	clear: both;
}

.search-result .post-meta:after {
	content: '';
	display: block;
	clear: both;
}

/* Header Link Bar */
#linkbar .left,
#linkbar .center,
#linkbar .right {
	width: 40%;
	display: block;float: left;
}

#linkbar .left {
	text-align: right;

	ul {
		padding-right: 10px;
	}
}

#linkbar .center {
	width: 20%;
}

#linkbar .right {
	text-align: left;

	ul {
		padding-left: 10px;
	}
}

/* Header Link Bar -> Logo */
#linkbar .nav-logo a {
	display: block;
}

#linkbar .nav-logo a img {
	display: block;
	margin: 0 auto;
	max-width: 165px;
}

/* Header Container */
.header-inner.container {
	@media (max-width: $breakpoint-med-small) and (min-width: $breakpoint-small+1) {
		padding: 0;
		white-space: nowrap;
	}
	@media (max-width: $breakpoint-small) {
		padding: 0 10px;
	}
}

/* Header Link Bar -> Navigation Menu */
#linkbar ul,
#linkbar ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#linkbar ul {
	display: block;
}

#linkbar li {
	display: inline-block;
}

#linkbar .nav-menu {
	display: block;
}

#linkbar .nav-menu:after {
	content: '';
	display: block;
	clear: both;
	height: 1px;
}

#linkbar .header-nav {
	margin-top: 30px;
}

#linkbar .header-nav a {
	display: inline-block;
	width: 116px;
	text-align: center;
	padding: 20px 0;

	color: $text;
	font-size: 16px;
	font-family: $font_title;
	font-weight: 400;
	text-decoration: none;
	letter-spacing: 0.025em;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;

	@include screen('large') {
		width: 90px;
	}
}

#linkbar .header-nav a:hover {
	color: $accent2;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#linkbar .header-nav .current-menu-item a {
	color: $accent2 !important;
	font-weight: 400;
}

.menu-item-parent > a:after, .menu-item-has-children > a:after {
	font-family: 'FontAwesome';
	content: "\f0dd";
	font-size: 1.6rem;
	padding-left: 5px;
}

/* Header Link Bar -> Navigation Menu (Submenu dropdowns) */
#linkbar ul li ul {
	display: none;
	top: 100%;
	left: 0;
	white-space: nowrap;
	position: absolute;
	background: #fff;
	padding: 10px;
	z-index: 1;
}

#linkbar li:hover > ul {
	display: block;
}

#linkbar li ul li {
	display: block;
	margin: 20px 0;
}

/* Header Link Bar -> Emphasized menu item.
/* This is the "Register" button, in italic with an underline.
/* Add a class "emphasized-link" within the Appearance > Menus settings (make sure to go to screen options and enable css classes)
*/
#linkbar .menu-item.emphasized-link a span {
	position: relative;
	font-style: italic;
}

#linkbar .menu-item.emphasized-link a span:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;
	height: 1px;
	background: #1b1b1b;
}

#linkbar .menu-item.current-menu-item.emphasized-link a span:after {
	background: $accent2;
}

/* Header -> Responsive */
@include screen( 'small' ) {
	#header-bar {
		display: none;
	}

	#linkbar .header-nav {
		display: none;
	}

	#linkbar .center {
		display: block;
		width: auto;
		text-align: center;
		float: none;
	}

	#linkbar .nav-logo a {
		display: inline-block;
	}

	#linkbar .nav-logo a img {
		max-height: 100px;
		max-height: 25vh;
	}
}

/* --------------------------------
			Front Page
-------------------------------- */

/* Front Page Destinations list */
.destination-list {
	margin: 0 -5px;
}

.destination-item {
	margin: 2rem 0 5rem;
	padding: 0 5px;
}

@media ( min-width: $grid_large + 1px ) {
	.destination-item:nth-last-child(3) {
		margin-bottom: 2rem;
	}
}

@media ( min-width: $grid_medium + 1px ) {
	.destination-item:nth-last-child(2) {
		margin-bottom: 2rem;
	}
}

@media ( min-width: $grid_small + 1px ) {
	.destination-item:nth-last-child(1) {
		margin-bottom: 2rem;
	}
}

@media ( max-width: $grid_small ) {
	// Make destination grid 1 column at small size
	.destinations-list.grid .destination-item.cell {
		width: auto;
		float: none;
	}
}

/* Destinations -> Title */
.destination-item h4.title {
	margin-bottom: 12px;

	font-size: 1.8rem;
	font-family: $font_text;
	font-style: italic;
}

.destination-item h4.title a {
	color: #000;
	text-decoration: none;
}

.destination-item h4.title a:hover {
	color: $accent2;
}

/* Destinations -> Date */
.destination-item .date {
	font-size: 1.4rem;
	letter-spacing: 0.05rem;
}


/* Destinations -> Featured Image */
.destination-item .image {
	text-align: center;
	margin-bottom: 15px;
}

/* Destination - Small screens */
@media ( max-width: $grid_small ) {
	.destination-item {
		margin: 1rem 0 2rem;

		h4.title {
			font-size: 1.6rem;
			margin-bottom: 3px;
		}

		.image {
			position: relative;
			padding-top: 50%;

			a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: auto;
					max-height: none;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

/* Image Label Overlay */
a.image-overlay-label {
	position: relative;
	display: inline-block;
}

a.image-overlay-label:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
}

a.image-overlay-label .overlay {
	display: block;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;

	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

a.image-overlay-label:before,
a.image-overlay-label .overlay {
	opacity: 0;
	visibility: hidden;
	animation: destination-fade-out 0.2s linear;
}

a.image-overlay-label:hover:before,
a.image-overlay-label:hover .overlay {
	opacity: 1;
	visibility: visible;
	animation: destination-fade-in 0.2s linear;
}

@keyframes destination-fade-in {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	1% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes destination-fade-out {
	0% {
		visibility: visible;
		opacity: 1;
	}
	99% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}

/* --------------------------------
  Custom checkbox/radio buttons
  See scripts.js
-------------------------------- */

label.aa-cb,
label.aa-rd,
html .gform_wrapper .gform_body label.aa-cb,
html .gform_wrapper .gform_body label.aa-rd {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #bdbcbc;
	overflow: hidden;
	background:#fff;
}


label.aa-cb input:checked + span,
label.aa-rd input:checked + span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 2px;

	vertical-align: top;
	background: #1b1b1b;
}

label.aa-cb input,
label.aa-rd input {
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	-webkit-appearance: none;
	position: absolute;
}

// If we ever want to make radio buttons look like radio buttons, and not checkboxes...
/*
label.aa-rd,
html .gform_wrapper label.aa-rd {
	border-radius: 100%;
}

label.aa-rd input:checked + span {
	border-radius: 100%;
}
*/

/* --------------------------------
			Mobile Nav
-------------------------------- */
#slideout-menu {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10;

	@media ( min-width: $breakpoint-small ) {
		display: none;
	}
}

#slideout-menu .slideout-collapse {
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease-in-out;

	body.slideout-menu-visible & {
		height: auto; // Fallback, normally overridden by JS
	}

	body.slideout-menu-hidden & {
		height: 0 !important; // To override JS property
	}
}

#slideout-menu .slideout-content {
	padding: 20px;
	background: #f7f6f6;
	text-align: center;
}

/*
.close-lines1 {
	width: 20px;
	background-color: #fff;
	height: 2px;
	transition: 300ms ease all;
	-webkit-transition-delay: 400ms; // Safari
	transition-delay: 400ms;
	position: relative;
	top: 8px;
	-ms-transform: rotate(-180deg); // IE 9
	-webkit-transform: rotate(-180deg); // Chrome, Safari, Opera
	transform: rotate(-180deg);
}

.close-lines2 {
	display: block;
	width: 20px;
	background-color: #fff;
	height: 2px;
	transition: 300ms ease all;
	-webkit-transition-delay: 400ms; // Safari
	transition-delay: 400ms;
	position: relative;
	top: 6px;
}

#slideout-menu.open .close-lines1 {
	-ms-transform: rotate(45deg); // IE 9
	-webkit-transform: rotate(45deg); // Chrome, Safari, Opera
	transform: rotate(45deg);
}

#slideout-menu.open .close-lines2 {
	-ms-transform: rotate(-45deg); // IE 9
	-webkit-transform: rotate(-45deg); // Chrome, Safari, Opera
	transform: rotate(-45deg);
}
*/

a#slideout-trigger {
	position: absolute;
	right: 20px;
	top: 5px;

	display: none;
	width: 30px;
	height: 18px;
	padding: 16px 10px;

	@media ( max-width: 400px ) {
		right: 5px;
	}
}

#slideout-bar,
#slideout-bar:before,
#slideout-bar:after {
	display: block;
	width: 30px;
	height: 1px;

	position: relative;

	background-color: #7f7f7f;
}

#slideout-bar {
}

#slideout-bar:before {
	content: "";
	top: -8px;
}

#slideout-bar:after {
	content: "";
	top: 7px;
}

body.slideout-menu-visible #slideout-bar {
	top: 0;
	transform-origin: center;
	transform: rotate(45deg);
}
body.slideout-menu-visible #slideout-bar:after {
	top: 0;
	transform-origin: center;
	transform: rotate(90deg);
}
body.slideout-menu-visible #slideout-bar:before {
	display: none;
}

#slideout-menu .menu-item-has-children > a:after {
	position: relative;
}

#slideout-menu h2.menu-title {
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 0.2em;

	margin: 0 0 10px;
	padding: 5px 0 20px;
	border-bottom: 1px solid #c6c5c5;
}

#slideout-menu .menu {
	list-style: none;
}

#slideout-menu .menu li {
	margin: 0;
	list-style: none;
}

#slideout-menu .menu a {
	color: #000000;
	font-size: 1.4rem;
	letter-spacing: 0.1em;
	font-style: italic;
	text-decoration: none;

	padding: 16px 0 12px;
	display: block;
	border-bottom: 1px dotted #d3d2d2;
}

#slideout-menu .menu a:hover,
#slideout-menu .menu a:focus {
	text-decoration: none;
	background: #eae9e9;
}

#slideout-menu .menu li:first-child a {
	border-top: 1px dotted transparent;
}

#slideout-menu .menu li:last-child a {
	border-bottom: 1px dotted transparent;
}

#slideout-menu .menu li:first-child a:hover,
#slideout-menu .menu li:first-child a:focus {
	border-top-color: #888878;
}

#slideout-menu .menu li:last-child a:hover,
#slideout-menu .menu li:last-child a:focus {
	border-bottom-color: #888878;
}

#slideout-menu .menu ul.sub-menu {
	display: none;
	margin: 2em 0;
}

#slideout-menu .widget {
	border-bottom: 0;
	text-align: right;
}

#slideout-menu .social-links i {
	font-size: 1.6rem;
	margin-left: 20px;
}

@include screen( 'small' ) {
	a#slideout-trigger {
		display: block;
	}
	#linkbar nav {
		display: none;
	}
}

/* Slideout menu backdrop, transparent white overlay over main content */
@include screen( 'small' ) {
	#content-wrapper {
		position: relative;
	}

	#content-wrapper:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		opacity: 0;
		z-index: -1;

		animation: wrapperOverlayOut 0.3s linear;
	}

	body.slideout-menu-visible #content-wrapper:after {
		background: #fff;
		opacity: 0.8;
		z-index: 1;
		animation: wrapperOverlayIn 0.3s linear;
	}
}

@keyframes wrapperOverlayOut {
	0% {
		opacity: 0.8;
		z-index: 1;

	}
	99% {
		visibility: visible;
		opacity: 0;
		z-index: -1;
	}
	100% {
		visibility: hidden;
	}
}

@keyframes wrapperOverlayIn {
	0% {
		visibility: hidden;
		z-index: -1;
	}
	1% {
		visibility: visible;
		opacity: 0;
		z-index: 1;
	}
	100% {
		opacity: 0.8;
	}
}

/* Slideout menu search form */
#slideout-nav form.search-form {
	max-width: 350px;
	margin: 0 auto;
}

#slideout-nav form.search-form:after {
	content: '';
	display: block;
	clear: both;
	height: 1px;
}

#slideout-nav form.search-form input[type=search] {
	width: 90%;
	width: calc(100% - 50px); /* Calc may not be supported */
	margin: 0;
}

#slideout-nav form.search-form button {
	width: 10%;
	width: calc(50px); /* Calc may not be supported */
	margin: 0;
	border: none;
	padding: 0;
}

/* Slideout menu social icons */
#slideout-menu .social-icons {
	margin-top: 20px;
}

#slideout-menu .social-icons li a {
	font-size: 2rem;
	padding: 5px;
}

/* 404 page */
body.error404 article .container {
	max-width: 960px;
	margin: 40px auto;
	padding: 0 10px;
}

// Ability to set non-italic (used in gravity form label for payment due date, see scripts.js)
.no-italic {
	font-style: normal;
}

/* Specific fixes to flexible fields, using classes/IDs in design tab */
.ff.minimal-button-spacing .ff-title {
	margin-bottom: 0.7rem;
}
.ff.minimal-button-spacing .ff-button-row {
	margin-top: 0;
}

.ff.max-width-925 .container {
	max-width: 965px; /* add 40px for padding */
}

.ff.max-width-700 .container {
	max-width: 740px; /* add 40px for padding */
}

@media ( max-width: $grid_small ) {
	.ff.gray-background-small-screen {
		background: #f7f6f6;
	 }
}

@media screen and ( min-width: $breakpoint-med + 1px )  {
	.ff.fixed-hero .ff-background {
		display: flex;
		align-items: center;

		.container {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.ff.height-565 .ff-background {
		height: 565px;
	}
	.ff.height-550 .ff-background {
		height: 550px;
	}
	.ff.height-400 .ff-background {
		height: 400px;
	}
	.ff.height-300 .ff-background {
		height: 300px;
	}
}