/*-----------------------------------------------------------------------------------*/
/*  Background images with color overlay
/*-----------------------------------------------------------------------------------*/
.ff-background {
  &.image-color-overlay {
    position: relative;

    .ff-background-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &.light-theme, &.light-theme a {
    color: #fff;
  }
}