.ff {
	text-align: center;

	/*-----------------------------------------------------------------------------------*/
	/*  Spacing (padding) above and below each section
	/*-----------------------------------------------------------------------------------*/
	&.spacing-small .container {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&.spacing-medium {
		.container {
			padding-top: 60px;
			padding-bottom: 60px;

			@include screen('small') {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}
	}

	&.spacing-large .container {
		padding-top: 90px;
		padding-bottom: 90px;

		@include screen('med') {
			padding-top: 70px;
			padding-bottom: 70px;
		}

		@include screen('small') {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		@media ( max-width: $grid_small ) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}

	&.spacing-huge .container {
		padding-top: 180px;
		padding-bottom: 180px;

		@include screen('med') {
			padding-top: 120px;
			padding-bottom: 120px;
		}

		@include screen('small') {
			padding-top: 80px;
			padding-bottom: 80px;
		}

		@media ( max-width: $grid_small ) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	/*-----------------------------------------------------------------------------------*/
	/*  Content alignment
	/*-----------------------------------------------------------------------------------*/
	&.content_align-left .ff-content {
		text-align: left;
	}

	&.content_align-center .ff-content {
		text-align: center;
	}

	&.content_align-right .ff-content {
		text-align: right;
	}

	/*-----------------------------------------------------------------------------------*/
	/*  Content width - narrow, regular, wide, full
	/*    -- 40px is added to account for padding --
	/*-----------------------------------------------------------------------------------*/
	&.content_width-narrow .container {
		max-width: 640px + 40px;
	}

	&.content_width-small .container {
		max-width: 730px + 40px;
	}

	&.content_width-reduced .container {
		max-width: 900 + 40px;
	}

	&.content_width-regular .container {
		// default, 1160px
	}

	&.content_width-wide .container {
		max-width: 1440px + 40px;
	}

	&.content_width-full .container {
		max-width: none;
	}

	/*-----------------------------------------------------------------------------------*/
	/*  Background images with color overlay
	/*-----------------------------------------------------------------------------------*/
	.ff-background {
		&.image-background {
			position: relative;

			.ff-background-image-wrap,
			&.motion-static .ff-background-image,
			&.motion-parallax.parallax-not-initialized .ff-background-image {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			// Parallax effects need 30% spacing on the height.
			&.motion-parallax.parallax-initialized .ff-background-image {
				position: relative;
				width: 100%;
				height: 130%;
				top: -15%;
				bottom: -15%;
			}

			.ff-background-image-wrap {
				overflow: hidden;
			}
		}

		&.image-color-overlay {
			position: relative;

			.ff-background-overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		&.light-theme, &.light-theme a {
			color: #fff;
		}
	}


	/*-----------------------------------------------------------------------------------*/
	/*  Title
	/*-----------------------------------------------------------------------------------*/
	.ff-title {
		margin-bottom: 3.0rem;

		@media ( max-width: $grid_small ) {
			margin-top: 1.5rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	/*-----------------------------------------------------------------------------------*/
	/*  Subtitle
	/*-----------------------------------------------------------------------------------*/
	.ff-subtitle {
		font-size: 1.8rem;
		letter-spacing: 0.05rem;
		font-style: italic;
		font-family: $font_text;

		&:last-child {
			margin-bottom: 0;
		}
	}


	/*-----------------------------------------------------------------------------------*/
	/*  Text Content
	/*-----------------------------------------------------------------------------------*/
	.ff-content {
		> :last-child {
			margin-bottom: 0;
		}

		h3 {
			font-size: 1.8rem;
			letter-spacing: 0.05rem;
			font-style: italic;
			position: relative;
			display: inline-block;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				height: 1px;
				background: #929292
			}
		}

		h4 {
			font-family: $font_title;
			font-size: 1.4rem;
			text-transform: uppercase;
			letter-spacing: 0.25rem;
			margin: 2.5rem 0 1rem;
		}

		h5 {
			font-size: 1.4rem;
			font-style: italic;
			margin: 2.5rem 0 1rem;
			font-family: $font_text;
			letter-spacing: 0.05rem;
		}
	}


	/*-----------------------------------------------------------------------------------*/
	/*  Button
	/*-----------------------------------------------------------------------------------*/
	.ff-button-row {
		margin-top: 2.0rem;
	}

	a.ff-button {
		position: relative;

		display: inline-block;
		line-height: 25px;
		padding: 5px 10px 0;

		font-style: italic;
		text-transform: lowercase;
		text-decoration: none;

		color: $text;
		background: rgba(0,0,0,0);

		transition: background 0.2s linear;
	}

	.light-theme a.ff-button {
		color: #fff;
		background: rgba(255,255,255,0);
	}

	a.ff-button:hover {
		background: rgba(0,0,0,0.25);
	}

	.light-theme a.ff-button:hover {
		background: rgba(255,255,255,0.25);
	}

	a.ff-button:after {
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		left: 10px;
		right: 10px;
		height: 1px;
		background: rgba(0,0,0,0.5);

		transition: left 0.2s linear, right 0.2s linear;
	}

	.light-theme a.ff-button:after {
		background: rgba(255,255,255,0.5);
	}

	a.ff-button:hover:after {
		left: 0;
		right: 0;
	}

	/*-----------------------------------------------------------------------------------*/
	/*  Staff
	/*-----------------------------------------------------------------------------------*/
	.staff-list {
		max-width: 890px;
		margin: 70px auto 0;

		@media ( max-width: $grid_small ) {
			margin-top: 0;
		}


		.photo {
			float: left;
			width: 33.7%;
			margin: 0 40px 0 0;
			max-width: 300px;

			@media ( max-width: $breakpoint-small ) {
				width: 45%;
				margin: 0 5% 0 0;
			}

			@media ( max-width: $grid_small ) {
				width: auto;
				float: none;
				margin: 0 0 2rem;
			}

			img {
				display: block;
				width: auto;
				height: auto;
				max-width: 100%;
			}
		}

		.ff-content {
			& > :last-child {
				margin-bottom: 0;
			}

			h4 {
				line-height: 1.6rem;
				margin: 0 0 0.8rem;
			}

			h5 {
				line-height: 1.6rem;
				margin: 0 0 3rem;
			}

			@include screen('small', 'min') {
				// Do not let text wrap below the photo on larger screens.
				overflow: hidden;
			}
		}

		.staff-member:after {
			content: '';
			display: block;
			clear: both;
			height: 1px;
			margin-bottom: 100px;

			@media ( max-width: $grid_small ) {
				content: none;
				display: none;
			}
		}
	}

	/*-----------------------------------------------------------------------------------*/
	/*  Itinerary day list
	/*-----------------------------------------------------------------------------------*/
	.itinerary-list {
		font-family: "Crimson Text", serif;
		text-align: left;
		margin: 60px auto 0;
		max-width: 750px;
		padding: 0 10px;

		@media ( max-width: $grid_medium ) {
			margin-top: 30px;
		}

		@media ( max-width: $grid_small ) {
			padding: 0;
		}

		.day-label {
			float: left;
			width: 16%;
			font-size: 1.4rem;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
		}

		.day-description {
			overflow: hidden;

			font-size: 1.8rem;
			line-height: 2.4rem;
		}

		.day:last-child .day-description > :last-child {
			margin-bottom: 0;
		}
	}

	/*-----------------------------------------------------------------------------------*/
	/*  Testimonial slider
	/*-----------------------------------------------------------------------------------*/
	.testimonial-list {
		margin-bottom: 28px;
	}

	.testimonial-list .flickity-page-dots {
		bottom: -30px;
	}

	.testimonial-list .testimonial-item {
		width: 100%;
		display: block;
	}

	.light-theme .flickity-page-dots .dot {
		opacity: 1;
		background: transparent;
		border: 1px solid #fff;
		width: 8px;
		height: 8px;
	}

	.light-theme .flickity-page-dots .dot.is-selected {
		background: #fff;
	}

	/*-----------------------------------------------------------------------------------*/
	/*  Text Columns
	/*-----------------------------------------------------------------------------------*/
	.ff-columns {
		margin-top: 2rem;

		.cell {
			padding: 1rem 12px;

			/* Do not collapse this module to 2 columns */
			@include screen('med') {
				margin: 0;
				padding: 1rem 10px;
				width: auto;
				clear: both;
			}
		}

		.ff-title {
			font-family: $font_title;
			font-size: 1.4rem;
			margin: 0 0 1rem;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
		}
	}

	/*-----------------------------------------------------------------------------------*/
	/*  Gallery
	/*-----------------------------------------------------------------------------------*/
	.ff-gallery {
		.cell {
			padding: 25px;
			text-align: center;

			@include screen('med') {
				padding: 10px;
			}

			a {
				display: inline-block;
			}

			a img {
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 266px;
			}
		}
	}

	/*-----------------------------------------------------------------------------------*/
	/*  Press
	/*-----------------------------------------------------------------------------------*/
	&.layout-press-items .ff-content {
		max-width: 680px;
		margin: 0 auto;
	}

	.press-list {
		.cell {
			margin-top: 40px;
			margin-bottom: 40px;
			padding: 25px;


			@include screen('med') {
				padding: 10px;
			}
		}

		.item-inner {
			max-width: 300px;
			margin: 0 auto;
		}

		.title {
			margin: 15px 0 10px;
			font-size: 1.8rem;
			font-style: italic;
		}

		.image img {
			width: 100%;
			max-width: 266px;
		}

		.press-download a {
			font-size: 1.4rem;
			line-height: 2rem;
			font-style: italic;
			text-decoration: none;
			color: #8e8e8e;
			position: relative;
			display: inline-block;
			text-transform: lowercase;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				height: 1px;
				background: #8e8e8e;
			}
		}
	}

}